black
blackcellmagic
bokeh
boto3
botocore
catppuccin-jupyterlab
codespell
configparser
cufflinks
dash
DateTime
Django
emoji
fastparquet
Flask
fzf-bin
GitPython
highspy
jupyterlab
jupyterlab-lsp
jsonlint
keyring
leaflet
matplotlib
mdformat
mdformat-gfm
mdformat-footnote
mdformat-frontmatter
mdformat-pyproject
moto
mypy
mypy-extensions
nested-lookup
nltk
numpy
openpyxl
pandas
plotly
pre-commit
pre-commit-hooks
pulp
pyaml
pyarrow==10.0.1
pycln
pycodestyle
pydantic
pylint
pymc
pyomo
pyOpenSSL==23.2.0
pytest
pytest-cov
python-lsp-server[all]
pytz
ruff
seedir
s3fs
scikit-learn
scipy
seaborn
selenium
snowflake
snowflake-connector-python==3.13.1
SQLAlchemy
sqlfluff
sqlparse
statsmodels
thefuck
tqdm
tqdm
typing
typing_extensions
uv
virtualenv
virtualenvwrapper
yamlfix
yamllint
